**/.DS_Store
typescript/scripts/**
**/node_modules
**/build/**
**/*.abi
**/*.bin
**/.env
**/generated
.vscode/*
**/artifacts/
**/cache/
**/coverage.json
**/coverage/
**/typechain-types
**/ignition/deployments/